@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

#font {
  font-family: 'Noto Sans', sans-serif;
}